h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
}

#submit{
    background-color: rgb(142, 22, 198);
    text-decoration-color: black;
    border: 1px;
    border-color: rgb(11, 11, 142);
    border-width: 5px;
    border-style: groove;
}