{% extends "base.html" %}

    {% block body %}
        <h1>Welcome to our Phonaesthetic Sociolinguistics Study!</h1>

        <!-- from app.classes.survey import sampleDict -->
        <!--List all errors in a group at the top-->
        <link href="../html/surveyform3.html" rel="stylesheet">
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}
        
        <!-- from random import math.random -->
        <form method=post>

            <!-- (this section will repeat several times) ← figure this out later M

            Participants will be shown an audio sample:
                50%:
                Two different random languages (x and y) will be selected.
                Participants will then be told the sample is from one language and given the audio sample from the other.
                You will now listen to an audio sample from x:
                [audio sample y]
                50%:
                A random language will be selected
                They will be told what language it is and be given the audio sample in that language.


            50%: Listen to the audio sample from language x

                [audio sample]

            50%: Listen to the following audio sample


            Now please listen to an audio sample from the language [language name].

            [audio sample]

                
            Participants will then rate the audio sample on each of the following sliders, 1—100:
            Beautiful–Ugly (Beauty)
            Melodic–Tuneless (Melody)
            Soft–Hard (Softness)
            Orderly–Chaotic (Orderliness)
            Sweet–Harsh (Sweetness)

            How familiar are you with this language? (slider 1—100)
            I don’t know this language at all–I can speak this language

            -->

                    <h3>Participants will then rate the audio sample on each of the following sliders, 1—100:</h3>
                    <br>
                    <div class="form-group text-center">
                        <h2>
                            {{randLang[1]}}
                        </h2>

                        <audio controls>
                            <source src="/static/mp3s/{{randLang[0]}}.mp3" type="audio/mpeg">
                        </audio>
                    </div>
                    <br>

                    <div class="form-group mb-3">
                        <h3 class="text-center">{{form.familiarity.label}}</h3>
                        {{form.familiarity(min=0,max=100,class="form-control border-dark")}}
                    </div>
                    <div class="form-group mb-3">
                        <h3 class="text-center">{{form.beauty.label}}</h3>
                        {{form.beauty(min=0,max=100,class="form-control border-dark")}}
                    </div>
                    <div class="form-group mb-3">
                        <h3 class="text-center">{{form.melody.label}}</h3>
                        {{form.melody(min=0,max=100,class="form-control border-dark")}}
                    </div>
                    <div class="form-group mb-3">
                        <h3 class="text-center">{{form.orderliness.label}}</h3>
                        {{form.orderliness(min=0,max=100,class="form-control border-dark")}}
                    </div>
                    <div class="form-group mb-3">
                        <h3 class="text-center">{{form.sweetness.label}}</h3>
                        {{form.sweetness(min=0,max=100,class="form-control border-dark")}}
                    </div>
                    <div class="form-group mb-3">
                        <h3 class="text-center">{{form.softness.label}}</h3>
                        {{form.softness(min=0,max=100,class="form-control border-dark")}}
                    </div>
            {{form.submit()}}
        </form>
        
{% endblock %}