{% extends "base.html" %}

    {% block body %}
        <h1>Welcome to our Phonaesthetic Sociolinguistics Study!</h1>

        <!--List all errors in a group at the top-->
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}

        <form method=post>
            {{ form.hidden_tag() }}

            <h2>Demographics:</h2>
               
                <h3>What is your age?</h3>
                {{form.age()}}                
                <h3>How do you describe your gender?</h3>
                {{form.gender()}}
                
                <h3>How do you describe your ethnicity?</h3>
                {{form.ethnicity()}}
               
            {{form.submit()}}
        </form>
        
{% endblock %}