{% extends "base.html" %}

    {% block body %}
        <h1>Welcome to our Phonaesthetic Sociolinguistics Study!</h1>

        <!--List all errors in a group at the top-->
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}

        <form method=post>
            {{ form.hidden_tag() }}
            
            <h1>Questions:</h1>

            <h2>Please answer the following questions about your language background.</h2>

            <form action="" method="get">
               <div class="row">
                <div clas="col">
                    <h3>What languages are you fluent in? (Can you hold a conversation in)</h3>
                    {{form.fluentlang()}}
                </div>
               </div>
                
               <div class="row">
                <div clas="col">
                    <h3>What languages are spoken in your home?</h3>
                    {{form.homelang()}}
                </div>
               </div>
               
               <div class="row">
                <div clas="col">
                    <h3>What languages have you learned in classes?</h3>
                    {{form.classlang()}}
                </div>
               </div>

               <div class="row">
                <div clas="col">
                    <h3>What languages do your parents speak? (Take your best guess)</h3>
                    {{form.parentlang()}}
                </div>
               </div>
        </form>
{% endblock %}